
body {
    background-color: white;
        width: 1440px;
        height: 844px;
        overflow: auto;
        padding: 20px;
        position: relative;
        


}
.main-wrapper{
    width: 1440px;
    margin: 0 auto;
    border: 1px solid white;
}

.header {
    height: 89px;
    background-color: blue;
}
.main {
    position: absolute;
    background-color: white;
}

.left {
width: 285px;
border: 1px solid white;
height: 1000px;
float: left;
padding: 20px;
}

.link {
position: absolute;
width: 240px;
height: 33px;
left: 20px;
top: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;
color: #000000;
}


.nav{
position: relative;
width: 206px;
height: 28px;
left: 20px;
top: 71px;
border: 1px solid white;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-decoration-line: underline;
display: block;
color: #FF710B;
}

.right {
    width: 1153px;
    border: 1px solid white;
    height: 1000px;
    margin-left: 287px;
    padding: 20px;
}

.line_blue {

width: 1080px;
height: 41px;
left: 335px;
top: 100px;
bottom: 700px;
right: 25px;
background: blue
}

.letter {
position: absolute;
bottom: 830px;
left: 380px;
color: white

}

.list {
position: absolute;
width: 132px;
height: 396px;
left: 320px;
top: 160px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;
color: #000000;
}

.line_blue_2 {
position: absolute;
width: 1080px;
height: 41px;
left: 335px;
top: 700px;
background:blue;
}

.letter_b {
position: absolute;
top: -20px;
left: 50px;
 color: white
}

.list_b {
position: absolute;
width: 132px;
height: 396px;
left: 320px;
top:  710px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 33px;
color: #000000;
}

.divider {
    position: absolute;
width: 2px;
height: 451px;
left: 280px;
top: 49px;
background: #C4C4C4;

}

.adress_book{
position: absolute;
width: 403px;
height: 63px;
left: 29px;
top: 13px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 54px;
line-height: 63px;
color: #FFFFFF;
}