body {
    margin: 0;
    width: 1536px;
    height: 4821px;
    background: #CBCBCB;
}

.header {
    height: 110px;
    background: #ffffff;
    box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 6;
}

.logo {
    margin-left: 141px;
}

.nav {
    margin-left: 75px;
    text-decoration: none;
    font-size: 24px;
    color: #2F2A37;
}

.languages {
    margin-right: 177px;
    z-index: 5;
}

.containet1 {
    background: #f7f7f7;
    width: 1536px;
    height: 723px;
    display: table-caption;
}

.text_1_1 {
    position: absolute;
    width: 434px;
    height: 310px;
    left: 149px;
    top: 237px;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 115%;
    color: #2F2A37;
}


.text_1_2 {
    position: absolute;
    width: 423px;
    height: 48px;
    left: 149px;
    top: 578px;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #6E6C72;

}


.button_1 {
    position: absolute;
    width: 245px;
    height: 55px;
    left: 149px;
    top: 681px;
    background: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
    border-radius: 40px;
}

.illustr1 {
    position: absolute;
    width: 721px;
    height: 374.59px;
    left: 720px;
    top: 296.24px;
    z-index: 5;
}


.green_backg {
    position: absolute;
    width: 821px;
    height: 821px;
    left: 1058px;
    top: 77px;
    background: #6BFFCA;
    filter: blur(120px);
}

.container2 {
    width: 1536px;
    height: 594px;
    top: 833px;
    background: #242029;
    position: absolute;
    z-index: 6;
}

.text2_1 {
    position: absolute;
    width: 477px;
    height: 46px;
    left: 152px;
    top: 79px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 115%;
    color: #F3F7EF;

}

.containet2_1{
    display: flex;
    width: 1236px;
    align-items: flex-start;
    margin: 210px 150px auto 150px;
}

.containet2_1_1{
    width: 618px;
    display: flex;
    align-items: center;
    margin-right: 77px;
}

.img2_1_1 {
    width: 141.58px;
    height: 120.13px;
    left: 149px;
    top: 1040px;
    margin-right: 40px;
}


.containet2_2_2 {
    width: 618px;
    display: flex;
    align-items: center;
}

.rightimg {
    margin-left: 70px;
    width: 160.48px;
    height: 116.26px;
    margin-right: 30px;
}

.text_2_1 {

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #F3F7EF;
}

.text_2_1_1 {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    margin-right: 117px;
    color: #F3F7EF;
}

.text_2_2 {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #F3F7EF;
}

.text_2_2_2 {
    margin-right: 37px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #F3F7EF;
}


.button_2 {
    box-sizing: border-box;
    position: absolute;
    width: 245px;
    height: 55px;
    margin: 75px 552px 84px 645px;
    background: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
    border-radius: 40px;
}
.container3 {
    width: 1536px;
    height: 1175px;
    top: 1428px;
    background: white;
    position: absolute;
}

.circle_green {
    position: absolute;
    width: 1056px;
    height: 1021px;
    left: -480px;
    top: -150px;
    background: #6BFFCA;
    filter: blur(206px);
}
.maintext_3 {
    position: absolute;
    width: 477px;
    height: 46px;
    left: 528px;
    top: 82px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 115%;
    text-align: center;
    color: #2F2A37;
}


.block_1 {
    width: 388px;
    height: 317px;
    margin-bottom: 30px;
    background: linear-gradient(138.64deg, #FFFFFF -21.71%, rgba(243, 247, 239, 0) 94.44%);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(5.5px);
    border-radius: 10px;
}

.total_6_blocks {
    position: absolute;
    width: 1224px;
    display: flex;
    margin-left: 150px;
    margin-top: 283px;
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
}
.all_block {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.all_block {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.img_block_1 {
    width: 95px;
    height: 71.25px;
}

.text_block_1 {
    width: 274px;
    height: 58px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #2F2A37;
}

.text_block_p1 {
    width: 250px;
    height: 68px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #2F2A37;
}

.block_2 {
    width: 388px;
    height: 317px;
    margin-bottom: 30px;
    background: linear-gradient(138.64deg, #FFFFFF -21.71%, rgba(243, 247, 239, 0) 94.44%);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(5.5px);
    border-radius: 10px;
}

.img_block_2{
    width: 67px;
    height: 67px;
}

.text_block_2 {
    width: 261px;
    height: 58px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #2F2A37;

}

.text_block_p2 {
    width: 244px;
    height: 51px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #2F2A37;
}


.block_3 {
    width: 388px;
    height: 317px;
    margin-bottom: 30px;
    background: linear-gradient(138.64deg, #FFFFFF -21.71%, rgba(243, 247, 239, 0) 94.44%);
    box-shadow: 11px 6px 48px 4px #36FF9F, 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(5.5px);
    border-radius: 10px;
}

.img_block_3 {
    width: 89.05px;
    height: 66px;
}

.text_block_3 {
    width: 248px;
    height: 58px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #2F2A37;
}

.text_block_p3 {
    width: 299px;
    height: 34px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #2F2A37;

}

.block_4 {
    width: 388px;
    height: 317px;
    background: linear-gradient(138.64deg, #FFFFFF -21.71%, rgba(243, 247, 239, 0) 94.44%);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(5.5px);
    border-radius: 10px;
}

.img_block_4{
    width: 51px;
    height: 60px;
}

.text_block_4 {
    width: 147px;
    height: 58px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #2F2A37;

}

.text_block_p4 {
    width: 283px;
    height: 85px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #2F2A37;
}



.block_5 {
    width: 388px;
    height: 317px;
    background: linear-gradient(138.64deg, #FFFFFF -21.71%, rgba(243, 247, 239, 0) 94.44%);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(5.5px);
    border-radius: 10px;
}

.img_block_5 {
    width: 95px;
    height: 71.25px;
}

.text_block_5 {
    width: 237px;
    height: 58px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #2F2A37;
}

.text_block_p5 {
    width: 294px;
    height: 51px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #2F2A37;
}



.block_6 {
    width: 388px;
    height: 317px;
    background: linear-gradient(138.64deg, #FFFFFF -21.71%, rgba(243, 247, 239, 0) 94.44%);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(5.5px);
    border-radius: 10px;
}

.img_block_6{
    width: 78px;
    height: 71px;
}

.text_block_6 {
    width: 198px;
    height: 58px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #2F2A37;
}

.text_block_p6 {
    width: 283px;
    height: 51px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #2F2A37;
}


.violet_circle {
    position: absolute;
    width: 1251px;
    height: 1210px;
    left: 981px;
    top: 300px;
    background: #9E00FF;
    filter: blur(182.5px);
}



.button_3 {
    box-sizing: border-box;
    position: absolute;
    background: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
    border-radius: 40px;
    width: 245px;
    height: 55px;
    margin: 1032px 552px 88px 645px;
}



.container4 {
    position: absolute;
    width: 1536px;
    height: 1777px;
    top: 2602px;
    background: #242029;
}


.top_text {
    position: absolute;
    width: 491px;
    height: 92px;
    left: 521px;
    top: 66px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    color: #F3F7EF;
}

.information {
    position: absolute;
    width: 1232px;
    height: 362px;
    top: 268px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 152px;
    margin-right: 152px;
}

.information_block {
    height: 68px;
    padding: 0 32px;
    margin-right: 25px;
    background: linear-gradient(180deg, #FFFFFF -13.5%, rgba(243, 247, 239, 0) 187.91%);
    box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(5.5px);
    border-radius: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text_information {
    height: 29px;
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #2F2A37;
}


.ok {
    margin-left: 25px;
width: 40px;
height: 40px;
}

.online {
    position: absolute;
    width: 665px;
    height: 46px;
    left: 148px;
    top: 735px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 115%;
    color: #F3F7EF;
}

.portal_development {
    position: absolute;
    width: 499px;
    height: 58px;
    left: 148px;
    top: 796px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #F3F7EF;
}


.price {
    position: absolute;
    width: 609px;
    height: 36px;
    left: 148px;
    top: 903px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 120%;
    color: #6BFFCA;
}

.demo_7days {
    position: absolute;
    width: 250px;
    height: 34px;
    left: 148px;
    top: 960px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #F3F7EF;
}





.button_4 {
    position: absolute;
    box-sizing: border-box;
    background: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
    border-radius: 40px;
    width: 245px;
    height: 55px;
    left: 148px;
    top: 1056px;
}


.suitable_for {
    position: absolute;
    width: 477px;
    height: 46px;
    left: 151px;
    top: 1200px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: #F3F7EF;
}

.any_school {
    position: absolute;
    width: 265px;
    height: 29px;
    left: 152px;
    top: 1300px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    color: #6BFFCA;
}


.quick_launch {
    position: absolute;
    width: 478px;
    height: 34px;
    left: 152px;
    top: 1352px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #F3F7EF;
}

.educational_courses {
    position: absolute;
    width: 323px;
    height: 29px;
    left: 151px;
    top: 1429px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    color: #6BFFCA;
}


.static {
    position: absolute;
    width: 479px;
    height: 34px;
    left: 151px;
    top: 1480px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #F3F7EF;
}

.corporate_portals {
    position: absolute;
    width: 318px;
    height: 58px;
    left: 151px;
    top: 1560px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
    color: #6BFFCA;
}



.reliable_protection {
    position: absolute;
    width: 479px;
    height: 51px;
    left: 151px;
    top: 1632px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #F3F7EF;
}




.img_4_1 {
    position: absolute;
    width: 626px;
    height: 449px;
    left: 758px;
    top: 1204px;
}


.footer {
    width: 1536px;
    height: 443px;

}


.footer_1 {
    position: absolute;
    top: 4379px;
    width: 1536px;
    height: 369px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}



.logo_footer {
    position: absolute;
    left: 152px;
}

.footer_left {
    position: absolute;
    width: 140px;
    height: 230px;
    left: 530px;
    top: 103px;
}

.footer_center {
    position: absolute;
    width: 140px;
    height: 230px;
    left: 780px;
    top: 103px;
}

.footer_right {
    position: absolute;
    width: 140px;
    height: 230px;
    left: 1157px;
    top: 103px;
}


.nav_footer. {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #2F2A37;
}




.bottom_logo {
    width: 102px;
    height: 102px;
}



.link {
    text-decoration: none;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #2F2A37;
}



.footer__2 {
    position: absolute;
    width: 1536px;
    height: 74px;
    top: 4748px;
    background: #6BFFCA;
}

.text_footer_2 {
    position: absolute;
    width: 252px;
    height: 17px;
    left: 127px;
    top: 14.5px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #6E6C72;
}

.imgvk {
    position: absolute;
    width: 35px;
    height: 33.88px;
    left: 1281px;
    top: 21px;
}

.imgtg {
    position: absolute;
    width: 35.12px;
    height: 34px;
    left: 1346px;
    top: 21px;
}

.second_text {
    position: absolute;
    width: 776px;
    height: 48px;
    left: 379px;
    top: 151px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #6E6C72;
}



